[Desktop Entry]
Name=Jaliscope
Exec="/home/rustedpipe/Downloads/jaliscope binaries/Jaliscope.AppImage"
Icon=jaliscope
Type=Application
Categories=AudioVideo;Audio;
Comment=A free and open-source (FOSS) vectorscope program centered around performance, accuracy, and customizability!
Terminal=false
